extends: default

ignore: |
  .git/
  .venv/
  build/
  dist/
  frontend/node_modules/
  node_modules/
  docs/facts/generated.yaml
  docs/user/reference/generated-docs.yaml

rules:
  document-start: disable
  line-length:
    max: 240
    level: warning
  truthy:
    allowed-values: ["true", "false", "on", "off"]
